---
import { getCollection, render } from 'astro:content'
import { Title, PageSection } from '@patternfly/react-core'
import MainLayout from '../../../layouts/Main.astro'
import { content } from '../../../content'
import { kebabCase } from '../../../utils/case'
import { tabsDictionary, tabNames, buildTab, sortTabs } from '../../../globals'
import {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  small,
  blockquote,
  pre,
  hr,
  ul,
  ol,
  dl,
  li,
  dt,
  dd,
} from '../../../components/Content'
import LiveExample from '../../../components/LiveExample.astro'
import DocsTables from '../../../components/DocsTables.astro'
import { addDemosOrDeprecated, getDefaultTab } from '../../../utils'

export async function getStaticPaths() {
  const collections = await Promise.all(
    content.map(
      async (entry) => await getCollection(entry.name as 'textContent'),
    ),
  )

  const flatCol = collections
    .flat()
    .map(({ data, filePath, ...rest }) => ({
      filePath,
      ...rest,
      data: {
        ...data,
        tab: data.tab || data.source || getDefaultTab(filePath),
      },
    }))
    .filter((entry) => entry.data.tab) // only pages with a tab should match this route
    .map((entry) => {
      // Build tabs dictionary
      const tab = addDemosOrDeprecated(entry.data.tab, entry.id)
      buildTab(entry, tab)
      return {
        params: {
          page: kebabCase(entry.data.id),
          section: entry.data.section,
          tab,
        },
        props: { entry, ...entry.data },
      }
    })

  sortTabs()

  return flatCol
}

const { entry, propComponents, cssPrefix } = Astro.props
const { title, id, section, tabName } = entry.data

const { Content } = await render(entry)
const currentPath = Astro.url.pathname
---

<MainLayout>
  {
    title && (
      <Title headingLevel="h1" size="4xl">
        {title}
      </Title>
    )
  }
  {
    tabsDictionary[id] && (
      <PageSection
        id="ws-sticky-nav-tabs"
        stickyOnBreakpoint={{ default: 'top' }}
        type="tabs"
      >
        <div class="pf-v6-c-tabs pf-m-page-insets pf-m-no-border-bottom">
          <ul class="pf-v6-c-tabs__list">
            {tabsDictionary[id].map((tab: string) => (
              // eslint-disable-next-line react/jsx-key
              <li
                class={`pf-v6-c-tabs__item${currentPath === `/${section}/${kebabCase(id)}/${tab}` ? ' pf-m-current' : ''}`}
              >
                <a
                  class="pf-v6-c-tabs__link"
                  href={`/${section}/${kebabCase(id)}/${tab}`}
                >
                  {tabName || tabNames[tab] || tab}
                </a>
              </li>
            ))}
          </ul>
        </div>
      </PageSection>
    )
  }
  <PageSection id="main-content" isFilled>
    <Content
      components={{
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        a,
        small,
        blockquote,
        pre,
        hr,
        ul,
        ol,
        dl,
        li,
        dt,
        dd,
        LiveExample,
      }}
    />
    <DocsTables propComponents={propComponents} cssPrefix={cssPrefix} />
  </PageSection>
</MainLayout>
